
@font-face {
    font-family: 'Gub'; 
    src: url(../fonts/Gub.ttf);
   } 
@font-face {
    font-family: 'Goth'; 
    src: url(../fonts/Goth.ttf);
   } 

/* Universal Styles
--------------------------------------*/
*, body { font-family: "Verdana";font-size: 14px;color:#000 }
body { overflow-x: hidden; }
body{ margin:0}

.img-responsive{width: 400px;padding:20px;float:inherit}

#scrollup {
position: fixed; 
opacity: 0.8; 
padding: 15px 10px 10px; 
background: #D3D3D3;
border-radius: 5px; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
left: 10px; 
bottom: 10px;
display: none;
cursor: pointer;
}

ul li{background: #000;width:200px}
.tab-content {padding-top: 10px}